.title-wrapper {
    width: 95vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    padding: var(--basic-padding) 0 0 0;
    letter-spacing: 0.15em;
}

.title-wrapper.home {
    justify-content: flex-end;
}

.title, .title-icon {
    font-size: 4.5vw;
    color: var(--green);
    justify-content: flex-start;
}

.no-icon {
    display: none;
}

#mmt.title {
    font-size: 5.5vw;
    text-transform: uppercase;
}

.sub-title {
    padding-left: var(--basic-padding);
    font-size: 3vw;
    color: var(--darker-blue);
}


/* tablet */
@media screen and (min-width: 768px) {
    #mmt.title {
        font-size: 5vw;
        letter-spacing: 0.17em;
    }
}
/* laptop */
@media screen and (min-width: 1024px) {
    #mmt.title {
        font-size: 4vw;
        letter-spacing: 0.25em;
    }
}
/* larger screens */
@media screen and (min-width: 1950px) {
    #mmt.title {
        font-size: 90px;
        letter-spacing: 20px;

    }
}