#dashboard #main-content .btn-show-hide {
    flex: 1;
    min-width: 100%;
    padding-top: 20px;
    line-height: 15px;
}

.is-author {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    min-width: 100%;
    cursor: pointer;
}

/* POST / NOTE CARDS */
#post-cards {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-auto-rows: 200px;
}


.post-card, .note-card {
    cursor: pointer;
    word-break: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
}
.post-card:hover {
    transform: translateY(-1px) scale(1.05);
    transition: 1s;
}
.post-card p, .note-card .body {
    align-self: flex-start;
    overflow: hidden;
    overflow-y: auto;
    justify-content: space-evenly;
    padding: 3px;
}
.post-card {
    margin: 10px;
    max-width: 320px;
    box-shadow: 3px 3px 2px 0.1px var(--main-dark);
    border: 3px solid var(--main-dark);
    grid-row: span 2 / auto;

}
.note-card {
    max-width: 320px;
    max-height: 320px;
    background-color: var(--yellow);
    padding: 10px;
    position: relative;
    box-shadow: 3px 3px 2px 0.1px var(--darker-orange);
}
.post-card h4 {
    align-self: flex-start;
    padding: 10px;
    font-size: 1em;
    letter-spacing: 2px;
    font-family: var(--roboto);
}
.note-card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-style: solid;
    border-width: 29px 29px 0 0;
    border-color: var(--main-light) var(--orange);
    box-shadow: 3px 3px 2px 0.1px var(--darker-orange);
}
.note-card .is-author {
    justify-content: flex-end;
}
.post-card .info {
    padding-right: 5px;
    color: var(--darker-blue);
    font-weight: bolder;
}
.post-card img {
    max-width: 300px;
    max-height: 260px;
}
.post-card .readmore {
    cursor: pointer;
    font-family: var(--retro);
    font-size: 0.6em;
}

/* SINGLE POST CARD */
.single-post-card {
    max-width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.single-post-card h4 {
    flex: 1;
    min-width: 100%;
    text-align: center;
    font-size: 1.8em;
    font-family: var(--roboto);
}
.single-post-card .author span {
    color: var(--main-dark);
    font-weight: normal;
    font-family: var(--lato);
}
.single-post-card .author {
    letter-spacing: 1px;
    flex: 1;
    min-width: 100%;
    font-size: 1.2em;
    padding-right: 5px;
    color: var(--darker-blue);
    font-weight: bolder;
    text-align: center;
    font-family: var(--retro);
}
.single-post-card .body {
    flex: 1;
    word-break: break-word;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.single-post-card img {
    flex: 1;
    margin: 10px;
    min-width: 50%;
    max-width: 320px;
    max-height: 320px;
}
.single-post-card .summary, .single-post-card .description {
    flex: 1;
    padding: 0 15px;
    min-width: 100%;
}

.single-post-card .summary{
    font-size: 0.8em;
    line-height: 2em;
    font-family: var(--retro);
    color: var(--darker-blue);
}

.single-post-card .description {
    padding: 0 25px;
    letter-spacing: 0.5px;
}
.single-post-card .is-author {
    padding: 0 20px;
}


/* POSTCARDS + INPUT */
.note-card input, .note-card textarea {
    border: none;
    padding: 5px;
}
.note-card input {
    width: 296px;
}
.note-card textarea {
    width: 296px;
    height: 100px;
    resize: none;
}


@media screen and (min-width: 600px) {
    .post-card {
        grid-row: span 2 / auto;
    }
    .single-post-card .body {
        align-items: center;
    }
    .single-post-card img {
        min-width: 40%;
    }
    .single-post-card .summary {
        min-width: 50%;
    }
}

@media screen and (min-width: 768px) {
    #sidebar {
        flex-direction: row;
        flex-wrap: nowrap;
    }


}

@media screen and (min-width: 1380px) {
}


