#page-header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-end;
    overflow: hidden;
    background-color: var(--lighter-blue);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
}
#page-header #primary-nav {
    font-size: 1em;
    padding-left: 5%;
    align-items: flex-start;
    padding-bottom: 10px;
}
#page-header #secondary-nav {
    font-size: 0.5em;
    padding-right: 5%;
    align-items: flex-end;
    padding-bottom: 10%;
}
#page-header #secondary-nav li {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#page-navigation .overlay-content {
    width: 100vw;
    min-height: 100vh;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--lighter-blue);
    overflow-x: hidden;
}
#page-navigation .overlay-content ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}
#page-navigation .overlay-content ul li a {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-end;
    text-decoration: none;
    font-family: var(--retro);
    text-transform: uppercase;
    padding: 5px;
}
#page-navigation .overlay-content ul li a .nav-icon {
    font-size: 15px;
}
#page-navigation .overlay-content ul li a:hover  {
    padding-left: 25px;
    text-decoration: underline 1px solid var(--orange);
    cursor: pointer;
}
#page-navigation .overlay-content ul li a:hover::after {
    content: " >>>";
    color: var(--orange);
}

#menu, #profile {
    font-size: 1.7em;
    height: 20px;
}

nav img {
    display: block;
    width: 100%;
    object-fit: cover;
}

#page-title {
    font-family: var(--roboto);
    text-transform: uppercase;
    font-size: 1.5em;
    letter-spacing: 1px;
}
#page-content {
    margin-top: 50px;
    min-height: 100%;
    padding: 1.5% 2.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 100%;
}

#page-content-nav {
    padding-top: var(--padding-med);
    min-width: 95%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#page-content-nav .actions {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

#page-content-nav .link-desc {
    display: none;
}

#page-content-nav div {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#dashboard {
    margin-top: 7px;
    padding: 15px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
#dashboard #sidebar {
    flex: 1;
    min-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
#dashboard #main-content {
    flex: 1;
    min-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#dashboard #main-content #post-cards {
    max-width: 100%;
}

p.not-found {
    min-width: 200px;
    max-width: 800px;
}

@media screen and (min-width: 720px) {
    #dashboard #main-content {
        justify-content: space-evenly;
    }
    #dashboard #main-content .note-card,
    #dashboard #main-content .post-card {
        max-width: 320px;
    }
}

@media screen and (min-width: 794px) {
    #page-title {
        letter-spacing: 3px;
    }
    #page-header #primary-nav {
        padding-bottom: 0;
    }
    nav img {
        height: 400px;
    }
    #dashboard #sidebar {
        justify-content: flex-start;
        flex-wrap: nowrap;
        align-items: center;
    }
    #page-content-nav .link-desc {
        display: block;
        transition: 1s;
    }
}

@media screen and (min-width: 1000px) {
    * {
        max-width: 1500px;
    }

    html, body {
        margin: 0 auto;
    }

    #page-content {
        min-width: 100%;
    }

    #dashboard #sidebar {
        min-width: 30%;
        flex-direction: column;
    }
    #dashboard #main-content {
        min-width: 68%;
        padding-left: 5px;
    }
    #dashboard #main-content #post-cards {
        max-width: 70%;
        overflow: scroll;
    }

    #page-navigation .overlay-content ul li a .nav-icon {
        font-size: 15px;
    }

}