button {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    outline: none;
    border: 0;
    width: 15vw;
    background: transparent;
    color: var(--main-dark);
}
button:hover {
    color: var(--main-light);
}

.link-text {
    text-decoration: none;
}

.call-to-action a {
    position: absolute;
    top: 3px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    line-height: 2;
    text-align: center;
    text-transform: uppercase;
}
.circle {
    position: relative;
    margin: 0;
    display: block;
    width: 4vw;
    height: 4vh;
    background-color: var(--darker-blue);
    border-radius: 50%;
}
.circle .arrow {
    position: relative;
    display: block;
    transition: all 0.5s cubic-bezier(0.6, 0, 0.076, 1);
    left: 0.6em;
    width: 1.5vw;
    height: 1.5vh;
    background: none;
}
.circle .arrow::before {
    position: absolute;
    content: '';
    top: 1.25rem;
    right: -0.2rem;
    width: 1vw;
    height: 1vh;
    border-top: 0.125rem solid var(--main-light);
    border-right: 0.125rem solid var(--main-light);
    transform: rotate(45deg);
}
button:hover .circle {
    width: 100%;
    border-radius: 25px;
    transition: all 0.5s cubic-bezier(0.6, 0, 0.076, 1);
}
button:hover .circle .arrow {
    transform: translate(1vw, 0);
}

#cta-home {
    align-self: center;
}