.btn {
    font-family: var(--retro);
    font-size: 0.55em;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--green);
    cursor: pointer;
}

.call-to-action {
    padding: 5% 0 0 0;
    position: relative;
}

.call-to-action::before {
    content: "";
    position: absolute;
    bottom: -5px;
    right: -15px;
    width: 0;
    height: 1px;
    background-color: var(--green);
    transition: width 1s cubic-bezier(0.25, 1, 0.5, 1);
}

.call-to-action:hover::after {
    content: " >>>";
}
.call-to-action:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

/* tablet */
@media screen and (min-width: 768px) {
    .btn {
        font-size: 1em;
    }
}
/* laptop */
@media screen and (min-width: 1024px) {
    .btn {
        font-size: 1.2em;
    }
}
/* larger screens */
@media screen and (min-width: 1950px) {

}


