#cards {
    background-color: var(--main-light);
    margin: var(--basic-margin);
    padding: var(--basic-padding);
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.card {
    flex: 1;
    /*min-width: 100%;*/
    margin: var(--basic-margin) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--basic-padding);
}

.card-header h3 {
    text-transform: uppercase;
    color: var(--green);
    font-size: 1.5vw;
}

.card-body {
    font-size: 1.2vw;
    text-align: justify;
    border-radius: 15px
}

.mission h3 {
    font-family: var(--reto);
}
.mission h3:hover {
    transform: scale(1.5);
}

/* tablet / desktop */
@media screen and (min-width: 767px) {
    #cards {
        border-radius: var(--basic-round-corners) 0 0 var(--basic-round-corners);
    }
    #cards .card {
        min-width: 20%;
    }
}