main {
    margin: 2.5%;
    padding: 2.5%;
    display: flex;
    flex-direction: column;
}

#home-content {
    margin-left: clamp(110px, 30vw, 33vw);
}

#seasonal-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: clamp(100px, 30vw, 30vw);
    height: 100vh;
    object-fit: cover;
}

#missions, #how-to {
    width: 100%;
    margin: 5% 0;
    display: flex;
    flex-wrap: wrap;
}

#missions .card {
    flex: 1;
    min-width: 20%;
    margin: 2.5% 0;
    height: 100%;
}
@media (max-width: 768px) {
    #missions .card {
        min-width: 50%;
    }
}

@media (max-width: 400px) {
    #missions .card {
        min-width: 50%;
    }
}
#how-to .card  {
    background-color: var(--darker-blue);
}

#how-to .speech-bubble::before {
    border-right: 26px solid var(--darker-blue);
}