/* mobile */
div#container {
    display: flex;
    flex-direction: column;
}

div#header {
    align-self: flex-start;
    padding: 0 var(--basic-padding);
    width: 95vw;
}

div#main {
    align-self: flex-start;

}

div#footer {
    height: 8vh;
}

/* tablet / desktop */
@media screen and (min-width: 768px) {
}

