#container {
    max-width:100%;
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    grid-template-rows: 0.5fr 1.5fr 0.5fr;
    gap: 0 0;
    grid-auto-flow: row;
}

/* LEFT SIDE */
.left-side {
    /*border: var(--debug-border);*/
    grid-area: 1 / 1 / 4 / 2;
    max-width: 33vw;
}
#seasonal-cover {
    max-width: 33vw;
    height: 100vh;
}

/* HEADER */
.header {
    /*border: var(--debug-border);*/
    grid-area: 1 / 2 / 2 / 4;
}
.title {
    padding: 5% 0 0 2%;
    font-size: 5vw;
    color: var(--green);
}
#mengelmoestuintjes {
    font-size: 7vw;
}
.user-action {
    margin: 1%;
    width: 3vw;
    height: 3vw;
    border: none;
    background: none;
}
.login, .profile {
    color: var(--blue);
    position: absolute;
    top: 0;
    right: 0;
}
.login:hover, .profile:hover {
    color: var(--orange);
}

/* MAIN */
.main {
    /*border: var(--debug-border);*/
    grid-area: 2 / 2 / 3 / 4;
}
.quote {
    width: 25px;
    height: 25px;
    color: var(--blue);
}
#quote-of-the-day {
    display: flex;
    flex-direction: column;
}

#quote-of-the-day div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 30px;
    color: var(--blue);
}

#quote-of-the-day strong {
    text-align: center;
    color: var(--green);
    font-size: 20px;
}
#missions {
    padding: 5% 0 0 2%;
    /*border: var(--debug-border);*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#missions .card {
    /*border: var(--debug-border);*/
    width: 100vw;
    display: flex;
    flex-direction: column;
}

#missions .card .card-header {
    display: flex;
    flex-direction: row;
}

/* FOOTER */
.footer {
    /*border: var(--debug-border);*/
    grid-area: 3 / 1 / 4 / 4;
}
#bottom-nav ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}
#bottom-nav ul li {
    padding-right: 10%;
}

.card h3 {
    text-transform: uppercase;
}