#footer {
    position: absolute;
    bottom: 0;
}

#footer.homepage {
    left: 33vw;
    width: 65%;
}

li {
    list-style: none;
}
nav {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
nav .menu-toggle {
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
nav input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    z-index: 1;
}
nav input[type='checkbox']:checked ~ ul li:nth-child(1) {
    transform: rotate(3deg) translate(-20em) rotate(-2deg);
}
nav input[type='checkbox']:checked ~ ul li:nth-child(2) {
    transform: rotate(4deg) translate(-15em) rotate(-3deg);
}
nav input[type='checkbox']:checked ~ ul li:nth-child(3) {
    transform: rotate(6deg) translate(-10em) rotate(-5deg);
}
nav input[type='checkbox']:checked ~ ul li:nth-child(4) {
    transform: rotate(11deg) translate(-5em) rotate(-11deg);
}
nav input[type='checkbox']:checked ~ ul li:nth-child(5) {
    transform: rotate(-9deg) translate(5em) rotate(9deg);
}
nav input[type='checkbox']:checked ~ ul li:nth-child(6) {
    transform: rotate(-4deg) translate(10em) rotate(4deg);
}
nav input[type='checkbox']:checked ~ ul li:nth-child(7) {
    transform: rotate(-3deg) translate(15em) rotate(2deg);
}
nav input[type='checkbox']:checked ~ ul li:nth-child(8) {
    transform: rotate(-2deg) translate(20em) rotate(1deg);
}
nav ul {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 50%;
}
nav ul li {
    transition: transform 1.25s ease-in-out;
}
nav ul li a {
    z-index: -1;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--green);
    border-radius: 50%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav ul li a svg {
    font-size: 2em;
    color: var(--main-light);
}
nav ul li a:hover, nav ul li a svg:hover {
    background-color: var(--lighter-blue);
    color: var(--darker-blue);
}
.hamburger-menu {
    height: 30px;
    width: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    background-color: var(--main-light);
    padding: 15px;
    border-radius: 50%;
}
.hamburger-bar {
    background-color: var(--darker-blue);
    position: absolute;
    height: 5px;
    width: 40px;
    transition: 1s ease;
    bottom: 28px;
    border-radius: 25px;
}
.hamburger-bar::before {
    background-color: var(--darker-blue);
    content: '';
    position: absolute;
    height: 5px;
    width: 40px;
    top: -10px;
    transition: 1s ease;
    border-radius: 25px;
}
.hamburger-bar::after {
    background-color: var(--darker-blue);
    content: '';
    position: absolute;
    height: 5px;
    width: 40px;
    top: 10px;
    border-radius: 25px;
}
#toggle:checked + label #active {
    transform: rotate(45deg);
}
#toggle:checked + label #active::before {
    transform: rotate(-90deg) translateX(-10px);
}
#toggle:checked + label #active::after {
    opacity: 0;
}

.active-link {
    color: var(--darker-blue);
    text-decoration: none;
}

.active-link:hover {
    color: var(--darker-blue);
    cursor: default;
}

#copyright {
    font-size: 0.7vw;
    position: absolute;
    right: 2px;
    bottom: 0;
}