.title-wrapper {
    display: flex;
    flex-direction: row;
    padding: 5vh 0 0 5vw;
}

.title, .title-icon {
    font-size: 5vw;
    color: var(--green);
    padding: 0 1vw 0 1vw;
}

.sub-title {
    padding-left: 8vw;
    font-size: 3vw;
    color: var(--darker-blue);
}

#mmt {
    margin-left: clamp(110px, 30vw, 33vw);
    font-size: 7vw;
    padding: 5vw 0 0 3vw;
}

