div#header.home {
    align-self: flex-start;
    padding: var(--basic-padding);
}

div#main.home main{
    width: 100vw;
    margin: 0;
    border-radius: 0;
}

/* hide on smaller screens*/
#seasonal-cover {
    display: none;
}

/* tablet / desktop */
@media screen and (min-width: 767px) {
    div#header.home {
        align-self: flex-end;
    }

    div#main.home main{
        width: 82.9vw;
        margin-left: 15vw;
    }

    #seasonal-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: clamp(200px, 30vw, 30vw);
        height: 100vh;
        object-fit: cover;
        display: block;
    }
}

/* extra large screens */
@media screen and (min-width: 767px) {
    /* content wordt te groot */
    /* main wordt te groot */
    /* lettertype wordt te groot */
}