.quote div {
    display: flex;
    flex-direction: row;
    margin: var(--basic-margin) var(--basic-margin) 0 var(--basic-margin);
    padding: var(--basic-padding) 5vw;
    color: var(--darker-blue);
    text-transform: uppercase;
    letter-spacing: 0.25em;
    max-width: var(--full-width);
    text-align: center;
}

.quote-icon {
    font-size: 2.8em;
    color: var(--darker-green);
}
.quote span {
    font-size: 0.77em;
}

.author {
    margin: 0 var(--basic-margin);
    color: var(--darker-green);
    opacity: 0.5;
    font-family: var(--retro);
    text-transform: uppercase;
    font-size: 0.2em;
    letter-spacing: 1em;
}


/* tablet */
@media screen and (min-width: 768px) {
    .quote div {
        padding: var(--basic-padding) 0;
    }
    .quote span {
        font-size: 0.95em;
    }
    .author {
        font-size: 0.4em;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* laptop */
@media screen and (min-width: 1024px) {
    .quote div{
        justify-content: space-between;
    }
    .quote span {
        font-size: 18px;
    }
    .author {
        font-size: 0.5em;
    }
}
/* larger screens */
@media screen and (min-width: 1950px) {
    .quote div, blockquote {
        max-width: 1750px;
    }
    .quote span {
        font-size: 20px;
    }
    .author {
        font-size: 15px;
    }
}