:root {
    /*
        COLORS
        - main LIGHT / DARK
        - identity colors BLUE / ORANGE / YELLOW / GREEN
            each color has a lighter and darker shade
        - for success / warning and failure messages show GREEN / YELLOW / RED
    */
    --main-light: #f5f5f5;
    --main-dark: #1e2a34;

    --lighter-blue: #bee1ee;
    --blue: #8dcbe2;
    --darker-blue: #5c97ad;

    --lighter-orange: #fdc149;
    --orange: #f2a202;
    --darker-orange: #a26c02;

    --lighter-yellow: #ffefad;
    --yellow: #ffde5c;
    --darker-yellow: #f5c400;

    --lighter-green: #4d8c2b;
    --green: #157145;
    --darker-green: #0c452a;

    --success: var(--lighter-green);
    --warning: var(--darker-yellow);
    --failure: #e74c3c;

    /*
        FONTS
        Headings and special text will be displayed in Roboto
        All other text will be displayed in Lato
    */
    --heading-family: 'Roboto', sans-serif;
    --global-family: 'Lato', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/*
    use 100% of viewport height
    use 100% of viewport width
    hide everything that overflows
    default theme is LIGHT-MODE
*/
html, body, div#root, div#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: var(--main-light);
}

/* Backgrounds */
.background {
    animation: gradientAnimation 25s ease-in-out infinite;
    background-image: linear-gradient(
            120deg,
            var(--main-light),
            var(--lighter-blue),
            var(--main-light));
    background-size: 500% 500%;
    backdrop-filter: blur(10px);
}
@keyframes gradientAnimation {
    0% { background-position: 0 0; }
    50% { background-position: 50% 50%; }
    100% { background-position: 0 100%; }
}