html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.page-content {
}

main {
    margin: 0 2%;
}

footer {
    background-color: white;
    width: 96%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
}

.title {
    padding-top: 10%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
}
.top-right {
    font-size: 20px;
    position: absolute;
    top: 1%;
    right: 2%;
}
.centered {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.uppercase {
    text-transform: uppercase;
}
p {
    text-align: justify;
}

#quote {
    padding: 2.5%;
}
#quote .text {
    text-align: center;
}