form {
    margin-top: 20px;
    background-color: transparent;
    border-radius: var(--round-borders);
    border: 5px solid var(--orange);
    height: 100%;
    width: 100%;
    padding: 30px 0;
    box-shadow: -4px -4px 0 0 var(--darker-orange);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form a {
    font-family: var(--lato);
    text-decoration: none;
    color: var(--main-dark);
}

form #action {
    font-size: 12px;
    padding: 10px 0;
}
form #action:hover a{
    border-bottom: 2px solid var(--orange);
    transition: ease-in-out 0.3s;
}
form #action:hover strong {
    color: var(--green);
}

form input, form select {
    width: 100%;
    border: none;
    padding: 5px 0 0 5px;
    margin: 10px 0;
    background-color: transparent;
    font-family: var(--retro);
    font-size: 10px;
}
form input:focus {
    outline: none!important;
}

form .inputField {
    background-color: var(--light50);
    border: 3px solid transparent;
    border-radius: var(--s-round-borders);
    padding: 5px;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
form .inputField:hover {
    border: 3px solid var(--lighter-blue);
}
form .inputField:focus-within {
    border: 3px solid var(--blue);
}
form .inputField:focus-within.checkbox, form .inputField:hover.checkbox {
    border: 3px solid transparent;
}
form .inputField:hover .invalid, form .inputField:focus-within.invalid {
    border: 3px solid var(--failure);
}
form .inputField label {
    font-family: var(--lato);
}
form .inputField label a:hover {
    border-bottom: 2px solid var(--orange);
}

form#sign-in, form#sign-up {
    max-width: 450px;
}
form#sign-in:hover, form#sign-up:hover {
    transform: translateY(4px);
    box-shadow: 0 0 0 0 var(--orange);
    transition: 2s;
}
form#sign-in .inputField, form#sign-up .inputField  {
    min-width: 90%;
    max-width: 400px;
}

#profile-details, #profile-details-form, #upload-image {
    width: 100%;
    border: transparent;
    box-shadow: 0 0 0 0 transparent;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
#profile-details {
    padding: 10px;
}
#profile-details-form {
    padding: 0;
    margin: 0;
}
#profile-details-form.hidden, #upload-image.hidden {
    display: none;
}
#profile-details #change-details {
    flex: 1;
    min-width: 100%;
    cursor: pointer;
    padding-bottom: 20px;
}
#profile-details .details {
    flex: 1;
    min-width: 100%;
    margin-top: 3px;
    padding: 5px;
}
#profile-details .inputField:hover, #profile-details .inputField:focus-within {
    border: 3px solid transparent;
}

.profile-image {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
}

#upload-image {
    margin: 0;
    padding: 0;
    min-width: 100%;
    max-width: 500px;
    border: transparent;
    box-shadow: 0 0 0 0 transparent;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}
#upload-image input[type=file]::file-selector-button, #upload-image input[type=file], #upload-image button {
    border: none;
    background-color: transparent;
    font-family: var(--roboto);
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
}

@media screen and (min-width: 768px){
    #profile-details .details {
        min-width: 50%;
    }
}

@media screen and (min-width: 1000px){
    #profile-details .details {
        min-width: 33.33%;
    }
}